<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% block stylesheets %}
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        {% endblock %}
    </head>
    <body>
        <div class="container">
            {% block teneleven_career_content %}
            {% endblock teneleven_career_content %}
        </div>
    </body>
</html>