{% extends 'TenelevenCareerBundle::layout.html.twig' %}

{% block teneleven_career_content -%}
    <h1>Careers</h1>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-8">
            {% block teneleven_careers_list -%}
                {{ render(controller('TenelevenCareerBundle:Frontend/Job:list')) }}   
            {% endblock %}
        </div>
    </div>
{% endblock %}