{% extends 'TenelevenCareerBundle::admin.html.twig' %}
{% import 'TenelevenCareerBundle:Backend:macros.html.twig' as macros %}

{% block teneleven_career_content -%}
<div class="page-header">
        <div class="actions-menu">
            <div class="btn-group">
                <div class="pull-right">{{ form(delete_form) }}</div>
                <a href="{{ path('teneleven_career_backend_job') }}" class="btn btn-default">
                    <i class="glyphicon glyphicon-list"></i>
                    <span>Back to the list</span>
                </a>            
            </div>
        </div>
        <h1>
            <i class="glyphicon glyphicon-pencil"></i>
            Edit Job
        </h1>
    </div>

    {{ macros.form(edit_form) }}
{% endblock %}
