{% extends 'TenelevenCareerBundle::admin.html.twig' %}

{% import 'TenelevenCareerBundle:Backend:macros.html.twig' as macros %}

{% block teneleven_career_content -%}
    <div class="page-header">
        <div class="actions-menu">
            <a href="{{ path('teneleven_career_backend_job_new') }}" class="btn btn-success">
                <i class="glyphicon glyphicon-plus-sign"></i> <span>Create Job</span>
            </a>
        </div>
        <h1>
            <i class="glyphicon glyphicon-list"></i>
            Careers
        </h1>
    </div>

    {{ macros.list(entities) }}
    
{% endblock %}
