{% extends 'TenelevenCareerBundle::admin.html.twig' %}

{% import 'TenelevenCareerBundle:Backend:macros.html.twig' as macros %}

{% block teneleven_career_content -%}

    <h1>New Job</h1>

    <div class="well">
        <a href="{{ path('teneleven_career_backend_job') }}" class="btn btn-info">
            Back to the list
        </a>
    </div>

    {{ macros.form(form) }}

{% endblock %}
