{% extends 'TenelevenCareerBundle::admin.html.twig' %}

{% import 'TenelevenCareerBundle:Backend:macros.html.twig' as macros %}

{% block teneleven_career_content -%}
    <div class="page-header">
        <div class="actions-menu">
            <a href="{{ path('teneleven_career_backend_job') }}" class="btn btn-default">
                <i class="glyphicon glyphicon-list"></i>
                <span>Back to the list</span>
            </a>
        </div>
        <h1>
            <i class="glyphicon glyphicon-plus-sign"></i>
            New Job
        </h1>
    </div>

    {{ macros.form(form) }}

{% endblock %}
